html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #252525;
  color: #fff;
}

#dwv {
  height: 80%;
}

/* Layers */
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* drag&drop */
.dropBox {
  text-align: center;
  width: 50%; height: 75%;
}
.dropBoxBorder {
  margin: 20px auto;
  border: 5px dashed #ccc;
}
.dropBoxBorder.hover {
  margin: 20px auto;
  border: 5px dashed #cc0;
}

.legend {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}
.legend a {
  color: #ccc;
}

/* toolbar */
#toolbar {
  font: 14px arial, sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
#toolbar button, select {
  margin: 10px 3px;
  padding: 10px 10px;
  border: 0 none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #444;
  height: 40px;
}
#toolbar button:enabled:hover, select:enabled:hover {
  background-color: #555;
  cursor: pointer;
}
#toolbar button:disabled, select:disabled {
  color: #aeaeae;
  cursor: default;
}
#toolbar .active {
  background-color: green !important;
}
#toolbar button:enabled path {
  fill: #fff;
}
#toolbar button:disabled path {
  fill: #aeaeae;
}
