html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

.dwv {
  height: 80%;
}

/* Layers */
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* drag&drop */
.dropBox {
  text-align: center;
  width: 50%; height: 75%;
}
.dropBoxBorder {
  margin: 20px auto;
  border: 5px dashed #ccc;
}
.dropBoxBorder.hover {
  margin: 20px auto;
  border: 5px dashed #cc0;
}
#input-file-link {
  text-decoration-line: underline;
}

.legend {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}

/* toolbar */
.toolbar {
  font: 14px arial, sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.toolbar button, select {
  margin: 10px 3px;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #757575;
}
.toolbar button:enabled:hover, select:enabled:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.toolbar button:disabled, select:disabled {
  color: #bdbdbd;
  cursor: default;
}
.toolbar .active {
  background-color: #f0f1f9 !important;
}
.toolbar button:enabled path {
  fill: #757575;
}
.toolbar button.active:enabled path {
  fill: #4a5bb9;
}
.toolbar button:disabled path {
  fill: #bdbdbd;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #252525;
    color: #fff;
  }
  .legend a {
    color: #ccc;
  }
  .toolbar button, select {
    border: 1px solid #2f2f2f;
    background-color: #fff;
  }
  .toolbar button, select {
    color: #fff;
    background-color: #333;
  }
  .toolbar button:enabled:hover, select:enabled:hover {
    background-color: #555;
  }
  .toolbar button:disabled, select:disabled {
    color: #aeaeae;
  }
  .toolbar .active {
    background-color: #404040 !important;
  }
  .toolbar button:enabled path {
    fill: #fff;
  }
  .toolbar button:disabled path {
    fill: #aeaeae;
  }
}
