/* Light theme */
:host {
  /* main background */
  --surface: #faf9fd;
  --on-surface: #1a1b1f;
  /* panel */
  --surface-container: #efedf0;
  --surface-container-high: #e9e7eb;
  --on-surface-container: #1a1b1f;
  /* button */
  --primary-color: #005cbb;
  --on-primary-color: #fefefe;
  /* selected button */
  --primary-container: #2488FF;
  --on-primary-container: #FFc0c0;
  /* border */
  --outline: #74777f;
}

/* drag&drop */
.dropBoxBorder:hover {
  filter: brightness(150%);
}

/* button/input */
button:enabled:hover {
  filter: brightness(140%);
}
button:disabled {
  filter: brightness(80%);
}
button:disabled path {
  filter: brightness(100%);
}

/* right panel content */
.data-item-list li:hover {
  filter: brightness(90%);
}

/* side panel */
.resizer:hover, .resizer:active {
  filter: brightness(120%);
}
