/* main */
.dwv {
  background-color: var(--surface);
  color: var(--on-surface)
}

/* svg */
path {
  fill: var(--on-surface);
}

/* footer */
.footer a {
  color: var(--on-surface);
}

/* info layer */
.info {
  color: #cde;
  text-shadow: 1px 1px #000;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  color: #ff0;
  text-shadow: 1px 1px #000;
}

/* drag&drop */
.dropBoxBorder {
  border-color: var(--outline);
}
.dropBoxBorder:hover {
  border-color: var(--outline-variant);
}

/* button/input */
input[type=color] {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--outline);
}
button path {
  fill: var(--on-primary-color);
}
button {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--outline);
}
button.active {
  background-color: var(--secondary-color);
}
button:enabled path {
  fill: var(--on-primary-color);
}
button.active:enabled path {
  fill: var(--on-secondary-color);
}

/* side panel */
.sidepanel {
  background-color: var(--surface-container);
  color: var(--on-surface-container);
}
.resizer {
  background-color: var(--primary-color);
}

/* right panel content */
.data-item-list li {
  background-color: var(--surface-container-high);
  /* avoid jumps on select */
  border-color: transparent;
}
.data-item-list .selected {
  border-color: var(--on-secondary-color);
}

/* modal dialog */
.modal {
  .modal-content {
    background-color: var(--surface-container);
    color: var(--on-surface-container);
  }
  .modal-content-scroll {
    background-color: var(--surface-container-high);
  }
}
