/* Dark theme */
:host {
  /* main background */
  --surface: #222;
  --on-surface: #fff;
  /* panel */
  --surface-container: #333;
  --surface-container-high: #555;
  --on-surface-container: #fff;
  /* button */
  --primary-color: #3F4748;
  --on-primary-color: #fff;
  /* selected button */
  --primary-container: #586364;
  --on-primary-container: #DDE3E4;
  /* border */
  --outline: #333;
}

/* drag&drop */
.dropBoxBorder:hover {
  filter: brightness(150%);
}

/* button/input */
button:enabled:hover {
  filter: brightness(140%);
}
button:disabled {
  filter: brightness(85%);
}
button:disabled path {
  filter: brightness(50%);
}

/* right panel content */
.data-item-list li:hover {
  filter: brightness(140%);
}

/* side panel */
.resizer:hover, .resizer:active {
  filter: brightness(140%);
}
