/* Light theme */
:host {
  /* main background */
  --surface: #faf9fd;
  --on-surface: #1a1b1f;
  /* panel */
  --surface-container: #efedf0;
  --surface-container-high: #e9e7eb;
  --on-surface-container: #1a1b1f;
  /* button */
  --primary-color: #f0f0f0;
  --on-primary-color: #333;
  /* selected button */
  --primary-container: #e1e1e8;
  --on-primary-container: #4a5bb9;
  /* border */
  --outline: #e0e0e0;
}

/* drag&drop */
.dropBoxBorder:hover {
  filter: brightness(80%);
}

/* button/input */
button:enabled:hover {
  filter: brightness(90%);
}
button:disabled {
  filter: brightness(100%);
}
button:disabled path {
  filter: brightness(300%);
}

/* right panel content */
.data-item-list li:hover {
  filter: brightness(95%);
}

/* side panel */
.resizer:hover, .resizer:active {
  filter: brightness(90%);
}
