/* Pink theme (dark) */
:host {
  /* main background */
  --surface: #1a1c1e;
  --on-surface: #e2e2e6;
  /* panel */
  --surface-container: #2d3033;
  --surface-container-high: #43474e;
  --on-surface-container: #e2e2e6;
  /* button */
  --primary-color: #ffabf3;
  --on-primary-color: #5b005b;
  /* selected button */
  --primary-container: #810081;
  --on-primary-container: #ffd7f5;
  /* border */
  --outline: #333;
}

/* drag&drop */
.dropBoxBorder:hover {
  filter: brightness(150%);
}

/* button/input */
button:enabled:hover {
  filter: brightness(120%);
}
button:disabled {
  filter: brightness(80%);
}
button:disabled path {
  filter: brightness(80%);
}

/* right panel content */
.data-item-list li:hover {
  filter: brightness(90%);
}

/* side panel */
.resizer:hover, .resizer:active {
  filter: brightness(120%);
}
