/* progress bar */
progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border: 0;
  z-index: 100;
}

/* dwv */
.dwv {
  display: flex;
  flex-direction: column;
}
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  /* occupy space left by panel */
  flex: 1;
  min-height: 0;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* Info layer */
.infoLayer {
  position: absolute;
  pointer-events: none;
  z-index: 20;
  width: 100%;
  height: 100%;
}
.infoLayer ul {
  margin: 0;
  padding: 2px;
  list-style-type: none;
}
.infoLayer li {
  margin-top: 0;
}
.infoLayer canvas {
  margin: 0;
  padding: 2px;
}
.info {
  font-size: 80%;
  max-width: 50%;
  max-height: 50%;
  overflow: auto;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  font-size: 120%;
}
/* top left */
.info-tl {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
/* top center */
.info-tc {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  text-align: center;
}
/* top right */
.info-tr {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
/* center left */
.info-cl {
  position: absolute;
  bottom: 50%;
  left: 0;
  text-align: left;
}
/* center right */
.info-cr {
  position: absolute;
  bottom: 50%;
  right: 2px;
  text-align: right;
}
/* bottom left */
.info-bl {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
}
/* bottom center */
.info-bc {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  text-align: center;
}
/* bottom right */
.info-br {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

/* drag&drop */
.dropBox {
  text-align: center;
  width: 50%;
}
.dropBoxBorder {
  margin: 20px auto;
  border-width: 5px;
  border-style: dashed;
}
#input-file-link {
  text-decoration-line: underline;
}

/* content */
.content {
  /* occupy space left by header and footer */
  flex: 1;
  min-height: 0;

  display: flex;
}

/* header */
.header {
  font: 14px arial, sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.toolbar-item {
  margin: 10px 3px;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 0;
}
.toolbar-item button {
  height: 100%;
  border-radius: 4px;
  padding: 10px;
}

.select-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
}
.select-wrapper button {
  padding: 0;
  margin: 0 0 0 1px;
}
.select-wrapper select:enabled:hover {
  cursor: pointer;
}

input[type=color] {
  width: 27px;
  height: 27px;

  border-width: 0;
}

button {
  border-width: 0;
}
button:enabled:hover {
  cursor: pointer;
}

/* footer */
.footer {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}

/* side panel */
.sidepanel {
  padding: 2px;
  width: 24px;

  display: flex;
  flex-direction: column;
}
.sidepanel-header {
  button {
    padding: 0;
  }
}
.sidepanel-content {
  display: none;

  overflow: auto;
  flex: 1;
  min-height: 0;
}
.resizer {
  display: none;

  width: 5px;
  cursor: col-resize;
  user-select: none;
}

/* right panel content */
.data-list {
  list-style-type: none;
  padding: 5px;

  .data-item-header {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    .data-item-name {
      flex: 1;
    }
  }

  #addannotationgroupitem {
    display: none;
  }
}
.data-item-list {
  list-style-type: none;
  padding: 0;
}
.data-item-list li {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  .data-item-list-item-content {
    flex: 1;
    svg {
      vertical-align: middle;
    }
  }
}
.data-item-list li:hover {
  cursor: pointer;
}

/* modal dialog */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  .modal-content {
    padding: 20px;
    overflow: auto;
  }

  h2 {
    margin-top: 0;
  }

  input, label {
    vertical-align: middle;
    margin-right: 10px;
  }

  .modal-content-scroll {
    height: 85%;
    overflow: auto;

    table {
      width: 100%;
      border-collapse: collapse;
    }
    tr {
      border-width: thin;
      border-style: solid;
    }
    th {
      text-align: left;
    }
    td, th {
      padding: 10px;
    }
  }
}
