/* progress bar */
progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border: 0;
  z-index: 100;
}

/* dwv */
.dwv {
  display: flex;
  flex-direction: column;
}
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  /* occupy space left by toolbar and legend */
  flex: 1;
}
.layer {
  position: absolute;
  pointer-events: none;
}

/* drag&drop */
.dropBox {
  text-align: center;
  width: 50%; height: 75%;
}
.dropBoxBorder {
  margin: 20px auto;
  border: 5px dashed #ccc;
}
.dropBoxBorder:hover {
  margin: 20px auto;
  border: 5px dashed #cc0;
}
#input-file-link {
  text-decoration-line: underline;
}

/* legend */
.legend {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}

/* toolbar */
.toolbar {
  font: 14px arial, sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.toolbar-item {
  margin: 10px 3px;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 0;
}
.toolbar-item button {
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
}

.select-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
}
.select-wrapper button {
  padding: 0;
  margin: 0 0 0 1px;
}
.select-wrapper select:enabled:hover {
  cursor: pointer;
}

.toolbar button {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #757575;
}
.toolbar button:enabled:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.toolbar button:disabled {
  color: #bdbdbd;
}
.toolbar .active {
  background-color: #f0f1f9 !important;
}
.toolbar button:enabled path {
  fill: #757575;
}
.toolbar button.active:enabled path {
  fill: #4a5bb9;
}
.toolbar button:disabled path {
  fill: #bdbdbd;
}

/* modal dialog */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow: auto;
  }

  input, label {
    vertical-align: middle;
    margin-right: 10px;
  }

  .modal-content-scroll {
    margin-right: 20px;
    height: 80%;
    overflow: auto;

    table {
      width: 100%;
      border-collapse: collapse;
    }
    tr {
      border: solid thin;
      border-color: #ddd;
    }
    th {
      text-align: left;
    }
    td, th {
      padding: 10px;
    }
  }
}

/* color-scheme */
@media (prefers-color-scheme: dark) {
  .legend a {
    color: #ccc;
  }
  .toolbar button {
    border: 1px solid #2f2f2f;
    background-color: #fff;
  }
  .toolbar button {
    color: #fff;
    background-color: #333;
  }
  .toolbar button:enabled:hover {
    background-color: #555;
  }
  .toolbar button:disabled {
    color: #aeaeae;
  }
  .toolbar .active {
    background-color: #404040 !important;
  }
  .toolbar button:enabled path {
    fill: #fff;
  }
  .toolbar button:disabled path {
    fill: #aeaeae;
  }
  .modal {
    .modal-content {
      background-color: #424242;
    }
    .modal-content-scroll {
      tr {
        border: solid thin;
        border-color: #666;
      }
    }
  }
}