/* Light theme */
:host {
  /* button */
  --primary-color: #fff;
  --on-primary-color: #666;
  /* selected button */
  --secondary-color: #f0f1f9;
  --on-secondary-color: #4a5bb9;
  /* button border */
  --outline: #e0e0e0;
  /* main background */
  --surface: #fff;
  --on-surface: #000;
  /* panel */
  --surface-container: #efefef;
  --surface-container-high: #dfdfdf;
  --on-surface-container: #000;
}

/* main */
.dwv {
  background-color: var(--surface);
  color: var(--on-surface)
}

/* footer */
.footer a {
  color: var(--on-surface);
}

/* info layer */
.info {
  color: #cde;
  text-shadow: 1px 1px #000;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  color: #ff0;
  text-shadow: 1px 1px #000;
}

/* drag&drop */
.dropBoxBorder {
  border-color: var(--secondary-color);
}
.dropBoxBorder:hover {
  border-color: var(--on-secondary-color);
}

/* button/input */
input[type=color] {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--outline);
}
svg {
  fill: var(--on-primary-color);
}
button {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--outline);
}
button:enabled:hover {
  filter: brightness(90%);
}
button:disabled {
  filter: brightness(100%);
}
button.active {
  background-color: var(--secondary-color);
}
button:enabled path {
  fill: var(--on-primary-color);
}
button.active:enabled path {
  fill: var(--on-secondary-color);
}
button:disabled path {
  filter: brightness(150%);
}

/* side panel */
.sidepanel {
  background-color: var(--surface-container);
  color: var(--on-surface-container);
}
.resizer {
  background-color: var(--secondary-color);
}
.resizer:hover, .resizer:active {
  background-color: var(--on-secondary-color);
}

/* right panel content */
.data-item-list li {
  background-color: var(--surface-container-high);
  /* avoid jumps on select */
  border-color: transparent;
}
.data-item-list li:hover {
  filter: brightness(90%);
}
.data-item-list .selected {
  border-color: var(--on-secondary-color);
}

/* modal dialog */
.modal {
  .modal-content {
    background-color: var(--surface-container);
    color: var(--on-surface-container);
  }
}
