/* White theme */

/* host */
.dwv {
  background-color: #fff;
  color: #000;
}

/* info layer */
.info {
  color: #cde;
  text-shadow: 1px 1px #000;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  color: #ff0;
  text-shadow: 1px 1px #000;
}

/* drag&drop */
.dropBoxBorder {
  border-color: #ccc;
}
.dropBoxBorder:hover {
  border-color: #cc0;
}

/* button/input */
input[type=color] {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #757575;
}
svg {
  fill: #757575;
}
button {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #757575;
}
button:enabled:hover {
  background-color: #f5f5f5;
}
button:disabled {
  color: #bdbdbd;
}
button.active {
  background-color: #f0f1f9 !important;
}
button:enabled path {
  fill: #757575;
}
button.active:enabled path {
  fill: #4a5bb9;
}
button:disabled path {
  fill: #bdbdbd;
}

/* side panel */
.sidepanel {
  background-color: #efefef;
  color: black;
}
.resizer {
  background-color: #ccc;
}
.resizer:hover, .resizer:active {
  background-color: #4a5bb9;
}

/* right panel content */
.data-item-list li {
  background-color: #dfdfdf;
  border-color: transparent;
}
.data-item-list li:hover {
  background-color: #ccc;
}
.data-item-list .selected {
  border-color: #4a5bb9;
}

/* modal dialog */
.modal {
  .modal-content {
    background-color: #fefefe;
  }
  .modal-content-scroll {
    tr {
      border-color: #ddd;
    }
  }
}
