/* Info layer */
.info {
  color: #cde;
  text-shadow: 1px 1px #000;
}
/* position indicators (c, tl, tc, bl...)
  need to be in sync with those defined
  in the overlay.json file */
/* center */
.info-c {
  color: #ff0;
  text-shadow: 1px 1px #000;
}

/* drag&drop */
.dropBoxBorder {
  border-color: #ccc;
}
.dropBoxBorder:hover {
  border-color: #cc0;
}


/* header */
input[type=color] {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #757575;
}

svg {
  fill: #757575;
}
button {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #757575;
}
button:enabled:hover {
  background-color: #f5f5f5;
}
button:disabled {
  color: #bdbdbd;
}
button.active {
  background-color: #f0f1f9 !important;
}
button:enabled path {
  fill: #757575;
}
button.active:enabled path {
  fill: #4a5bb9;
}
button:disabled path {
  fill: #bdbdbd;
}

/* side panel */
.sidepanel {
  background-color: #efefef;
  color: black;
}
.resizer {
  background-color: #ccc;
}
.resizer:hover, .resizer:active {
  background-color: #4a5bb9;
}

/* right panel content */
.data-item-list li {
  background-color: #dfdfdf;
  border-color: transparent;
}
.data-item-list li:hover {
  background-color: #ccc;
}
.data-item-list .selected {
  border-color: #4a5bb9;
}

/* modal dialog */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
    background-color: #fefefe;
  }

  .modal-content-scroll {
    tr {
      border-color: #ddd;
    }
  }
}

/* color-scheme */
@media (prefers-color-scheme: dark) {
  .sidepanel {
    background-color: #333;
    color: #fff;
  }
  .resizer {
    background-color: #555;
  }

  svg {
    fill: #fff;
  }
  input[type=color] {
    border-color: #2f2f2f;
    color: #fff;
    background-color: #333;
  }
  button {
    border-color: #2f2f2f;
    background-color: #333;
    color: #fff;
  }
  button:enabled:hover {
    background-color: #555;
  }
  button:disabled {
    color: #aeaeae;
  }
  button.active {
    background-color: #404040 !important;
  }
  button:enabled path {
    fill: #fff;
  }
  button:disabled path {
    fill: #aeaeae;
  }
  .footer a {
    color: #ccc;
  }
  .data-item-list li {
    background-color: #444;
  }
  .data-item-list li:hover {
    background-color: #555;
  }

  .modal {
    .modal-content {
      background-color: #424242;
    }
    .modal-content-scroll {
      tr {
        border-color: #666;
      }
    }
  }
}